DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wear_or_dare
YOUCAM_API_KEY=
YOUCAM_API_BASE_URL=https://yce-api-01.makeupar.com
TRY_ON_PROVIDER=mock

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
